name: Python tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      test_matrix: ${{ steps.test_versions.outputs.matrix }}
      examples_matrix: ${{ steps.examples_versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install nox
        run: |
          pip install nox
      - name: Get test Python versions
        id: test_versions
        run: |
          versions=$(nox --list-sessions --json | jq -c '{"python-version": [.[] | select(.name == "tests") | .python]}')
          echo "matrix=$versions" >> $GITHUB_OUTPUT
      - name: Get examples Python versions
        id: examples_versions
        run: |
          versions=$(nox --list-sessions --json | jq -c '{"python-version": [.[] | select(.name == "examples") | .python]}')
          echo "matrix=$versions" >> $GITHUB_OUTPUT

  test:
    needs: setup
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.test_matrix) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r test-requirements.txt
          pip install -e .
      - name: Run tests
        run: nox -s tests-${{ matrix.python-version }}

  examples:
    needs: setup
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.examples_matrix) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r test-requirements.txt
          pip install -r example-requirements.txt
          pip install -e .
      - name: Run examples
        run: nox -s examples-${{ matrix.python-version }}
